################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/S11.ProxyDesignPattern.Sample01/FileContentIndex/05f2a40f-7cff-4c19-877e-666d23a9acd3.vsidx
/.vs/S11.ProxyDesignPattern.Sample01/FileContentIndex/04f7d2db-b155-4fb5-acb2-f1623b497705.vsidx
/.vs/S11.ProxyDesignPattern.Sample01/FileContentIndex/1ad84022-d859-4c60-8f05-104fdec4f6b0.vsidx
/.vs/S11.ProxyDesignPattern.Sample01/FileContentIndex/3599721b-fab1-4972-985b-17035a504da3.vsidx
/.vs/S11.ProxyDesignPattern.Sample01/FileContentIndex/4fb6a1bf-cb4c-4c00-82f0-f44e0337049f.vsidx
/.vs/S11.ProxyDesignPattern.Sample01/FileContentIndex/d8996b59-de99-4e7c-9e5c-5d620141b63d.vsidx
