################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/S11.ProxyDesignPattern.Sample01/FileContentIndex/05f2a40f-7cff-4c19-877e-666d23a9acd3.vsidx
